<div class="form-group">
    <label>Setting</label>
    <div class="form-fields">
        <select name="system.setting" data-type="String" style="width:100%">
            {{selectOptions config.SETTING selected=system.setting localize=true}}
        </select> 
    </div>
</div>
