<div class="flexrow table-header injuries-header no-wrap">
    <div class="flex2 center">
        <div class="field-label ellipsis">{{ localize 'COC.attributes.bg.label' }}</div>
    </div>
    <div class="flex3 center">
        <div class="field-label">{{ localize 'COC.ui.value' }}</div>
    </div>
</div>
<div class="flexrow no-wrap injuries">
    <div class="flex2 center cell-header">
        <span class="field-label ellipsis"><i class="fas fa-heart-broken"></i>&nbsp;{{ localize 'COC.attributes.bg.abbrev' }}</span>
    </div>
    <div class="flex3 center cell">
        <input class="field-value" name="system.attributes.bg.value" type="text" value="{{system.attributes.bg.value}}" placeholder="Value" data-dtype="Number"/>
    </div>
</div>
