<div class="flexrow no-wrap">
    <div class="flex1 layout">
        <!-- STATS -->
        {{> "systems/coc/templates/actors/parts/stats/npc-attributes.hbs"}}
    </div>
    <div class="flex1 layout">
        <!-- DEFENSE -->
        {{> "systems/coc/templates/actors/parts/stats/actor-defence.hbs"}}
        <!-- VITALITE -->
        {{> "systems/coc/templates/actors/parts/stats/actor-vitality.hbs"}}
        <!-- INIT -->
        {{> "systems/coc/templates/actors/parts/stats/actor-init.hbs"}}
    </div>
</div>
<div class="flexrow"><div class="flex1 half-spacer"></div></div>

<div class="flexrow">
    {{> "systems/coc/templates/actors/parts/combat/encounter-combat.hbs"}}
</div>

<div class="flexrow">
    {{> "systems/coc/templates/actors/parts/capacities/encounter-capacities.hbs"}}
</div>
