/* ----------------------------------------- */
/*  Layout                                   */
/* ----------------------------------------- */
.window-content {
  @include nomargin;
  height: 100%;
  overflow: hidden;

  .editable {
    @include nomargin;
    height: 100%;
    overflow: hidden;
    background-image: url("../ui/coc/header.png");
    background-repeat: repeat;
  }
}
