<div class="item-properties">
<ol class="properties-list">
    {{#if item.system.limited}}<li>{{localize "COC.ui.limited"}}</li>{{/if}}
    {{#if item.system.spell}}<li>{{localize "COC.ui.spell"}}</li>{{/if}}
</ol>
</div>