<div class="item-properties">
    <ol class="properties-list">
        {{#if item.system.dv}}
            <li>{{ localize "COC.ui.hd" }} : {{item.system.dv}}</li>{{/if}}
        {{#if item.system.spellcasting}}
            <li>{{localize "COC.ui.spellcasting"}} : {{localize (concat "COC.stats." (concat item.system.spellcasting ".label"))}}</li>{{/if}}
    </ol>
</div>