<ol class="inventory-list">
    <!-- MELEE -->
    <li class="inventory-header flexrow">
        <h3 class="item-name flexrow">Attaques</h3>
        <div class="item-detail">Mod</div>
        <div class="item-detail">Critique</div>
        <div class="item-detail">DM</div>
        <div class="item-controls">
            <a class="item-control item-create weapon-add" title="Ajouter une attaque"><i class="fas fa-plus"></i>&nbsp; Add</a>
            <!--                <a class="item-control" title="Ajouter une attaque"><i class="fas fa-plus"></i>&nbsp;Add</a>-->
        </div>
        <!--                <a class="item-control weapon-add btn" title="Ajouter une attaque" style="padding:3px"><i class="fas fa-plus"></i></a>-->
        <!--                <a class="weapons-control weapon-remove btn" title="Supprimer une attaque" style="padding:3px"><i class="fas fa-minus"></i></a>-->
    </li>
    {{#each actor.data.weapons as |weapon id|}}
        {{> "systems/coc/templates/actors/parts/combat/actor-combat-item.hbs" this id=id}}
    {{/each}}
</ol>