<div class="flexrow">
    <div class="flex">
        <span class="field-label">{{ localize "COC.details.description" }}</span>
    </div>
</div>
<hr/>
{{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
